//-------------
//    Navbar
//-------------

$navbar-grid-template-columns: 10px 1fr 50px;

$navbar-height: 70px;
$navbar-grid-area : navbar;
$navbar-background-color: $lighter-grey;
$navbar-border-color: $grey;
$navbar-shadow-color: $grey;
$navbar-menu-item-color: $darker-grey;
$navbar-menu-item-hover-color: $black;

