$popup-width: 900px;
$popup-border: 1px solid $grey;
$popup-border-radius: $border-radius;
$popup-background-color: $lighter-grey;
$popup-color: $black;
$popup-box-shadow: 0 1px 1px $dark-grey;
$popup-padding: 10px;
