.btn {
  box-sizing: border-box;
  height: $button-height;
  width: $button-width;
  padding: $button-padding;
  margin: $button-margin;
  background-color: $button-background-color;
  border-radius: $button-border-radius;
  border: $button-border;
  cursor: pointer;
  transition: border $animation-delay, box-shadow $animation-delay, background $animation-delay;
  outline: none;
  color: $black !important;
  text-decoration: none !important;

  &:hover {
    border: $button-border-hover;
    box-shadow: $button-box-shadow-hover;
  }

  &:active {
    background-color: $button-background-color-active;
  }

  &.error {
    color: $button-color-error !important;
    background-color: $button-background-color-error;
    border: $button-border-error;

    &:hover {
      border: $button-border-error-hover;
      box-shadow: $button-box-shadow-error-hover;
    }
    
    &:active {
      background-color: $button-background-color-error-active;
    }
  }

  &.success {
    color: $button-color-success !important;
    background-color: $button-background-color-success;
    border: $button-border-success;

    &:hover {
      border: $button-border-success-hover;
      box-shadow: $button-box-shadow-success-hover;
    }

    &:active {
      background-color: $button-background-color-success-active;
    }
  }

  &.warning {
    color: $button-color-warning !important;
    background-color: $button-background-color-warning;
    border: $button-border-warning;

    &:hover {
      border: $button-border-warning-hover;
      box-shadow: $button-box-shadow-warning-hover;
    }

    &:active {
      background-color: $button-background-color-warning-active;
    }
  }

  &.dark {
    color: $button-color-dark !important;
    background-color: $button-background-color-dark;
    border: $button-border-dark;

    &:hover {
      border: $button-border-dark-hover;
      box-shadow: $button-box-shadow-dark-hover;
    }

    &:active {
      background-color: $button-background-color-dark-active;
    }
  }

  &.default {
    color: $button-color-default !important;
    background-color: $button-background-color-default;
    border: $button-border-default;

    &:hover {
      border: $button-border-default-hover;
      box-shadow: $button-box-shadow-default-hover;
    }

    &:active {
      background-color: $button-background-color-default-active;
    }
  }
}