@import "normalize.css";
@import "open-iconic";


@import "variables/main";
@import "navbar";
@import "sidebar";
@import "dropdown";
@import "tooltip";
@import "forms";
@import "tables";
@import "buttons";
@import "panel";
@import "card";
@import "message";
@import "popup";

// Icons
.oi {
  margin: 0 5px;
}

// Wraps and centers the content
.wrap {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.clearfix {
  clear: both;
  display: block;
}

.container {

  &.grid-container {
    display: grid;

    // Default XS
    grid-template-columns: $xs-grid-template-columns;
    grid-template-rows: $xs-grid-template-rows;
    grid-template-areas: $xs-grid-template-areas;
    grid-column-gap: $grid-column-gap;
    grid-row-gap: $grid-row-gap;

    .navbar {
      grid-area: $navbar-grid-area;
    }
    .content {
      grid-area: $content-grid-area;
      padding: 5px;

      a {
        color: $links-color;
        text-decoration: underline;

        &:hover {
          color: $links-color-hover;
        }
      }
    }
    .sidebar {
      grid-area: $sidebar-grid-area;
    }
    .footer {
      grid-area: $footer-grid-area;
    }
  }

}

