// Card
$card-justify-content: center;
$card-padding: 10px;
$card-margin: 5px;
$card-width: 200px;
$card-height: auto;
$card-background-color: $lighter-grey;
$card-border: 1px solid $light-grey;
$card-box-shadow: 0 1px 1px $grey;
$card-border-radius: $border-radius;

// Card Large
$card-width-large: 410px;

// Card Heading
$card-heading-font-size: 18px;
$card-heading-font-weight: bold;