
//-------------
//    Colors
//-------------

$white: #FFF;
$black: #161020;

// Grey
$lighter-grey: #f8f8f8;
$light-grey: #e8e8e8;
$grey: #d3d3d3;
$dark-grey: #888889;
$darker-grey: #4c4c4d;

// Green
$lighter-green: #abff99;
$light-green: #33df5a;
$green: #2cae52;
$dark-green: #1e7628;
$darker-green: #084b13;

// Red
$lighter-red: #ff645f;
$light-red: #ff4943;
$red: #e2232f;
$dark-red: #a92d3b;
$darker-red: #720605;

// Blue
$lighter-blue: #7be9ff;
$light-blue: #55bced;
$blue: #3e7eed;
$dark-blue: #32669f;
$darker-blue: #004b7e;

// Orange
$lighter-orange: #ffc662;
$light-orange: #f49b3b;
$orange: #f47c1e;
$dark-orange: #d56e18;
$darker-orange: #993800;

// Success Color
$success-lighter-color: $lighter-green;
$success-light-color: $light-green;
$success-color: $green;
$success-dark-color: $dark-green;
$success-darker-color: $darker-green;

// Error Color
$error-lighter-color: $lighter-red;
$error-light-color: $light-red;
$error-color: $red;
$error-dark-color: $dark-red;
$error-darker-color: $darker-red;

// Default Color
$default-lighter-color: $lighter-blue;
$default-light-color: $light-blue;
$default-color: $blue;
$default-dark-color: $dark-blue;
$default-darker-color: $darker-blue;

// Warning Color
$warning-lighter-color: $lighter-orange;
$warning-light-color: $light-orange;
$warning-color: $orange;
$warning-dark-color: $dark-orange;
$warning-darker-color: $darker-orange;

