/**
 * Variables for the layout
 */

@import 'colors';
@import 'navbar';

//-------------
//    Animations
//-------------

$animation-delay: .3s;

//-------------
//    Media Queries
//-------------

$xs-breakpoint : 695px;
$s-breakpoint : 800px;
$l-breakpoint : 1200px;
$wrap-max-size : 960px;

//-------------
//    Content
//-------------

$links-color: $default-color;
$links-color-hover: darken($links-color, 10);
$border-radius: 3px;

//-------------
//    Header
//-------------

$content-grid-area : content;

//-------------
//    Sidebar
//-------------

$sidebar-width : 200px;
$sidebar-grid-area : sidebar;

//-------------
//    Footer
//-------------

$footer-height : 100px;
$footer-grid-area : footer;

//-------------
//    GRIDS
//-------------

$grid-column-gap: 20px;
$grid-row-gap: 20px;

// XS
$xs-grid-template-columns : 100%;
$xs-grid-template-rows : $navbar-height auto $footer-height;
$xs-grid-template-areas :
  "#{$navbar-grid-area}"
  "#{$content-grid-area}"
  "#{$footer-grid-area}";

// S
$s-grid-template-columns : $sidebar-width ;
$s-grid-template-rows : $navbar-height auto $footer-height;
$s-grid-template-areas :
"#{$navbar-grid-area} #{$navbar-grid-area}"
"#{$sidebar-grid-area} #{$content-grid-area}"
"#{$footer-grid-area} #{$footer-grid-area}";

// L
$l-grid-template-columns : $sidebar-width auto $sidebar-width;
$l-grid-template-rows : $navbar-height auto $footer-height;
$l-grid-template-areas :
"#{$navbar-grid-area} #{$navbar-grid-area} #{$navbar-grid-area}"
"#{$sidebar-grid-area} #{$content-grid-area} #{$content-grid-area}"
"#{$footer-grid-area} #{$footer-grid-area} #{$footer-grid-area}";

// XL
$xl-grid-template-columns : $sidebar-width auto $sidebar-width;
$xl-grid-template-rows : $navbar-height auto $footer-height;
$xl-grid-template-areas :
"#{$navbar-grid-area} #{$navbar-grid-area} #{$navbar-grid-area}"
"#{$sidebar-grid-area} #{$content-grid-area} ."
"#{$footer-grid-area} #{$footer-grid-area} #{$footer-grid-area}";

@import "sidebar";
@import "dropdown";
@import "tooltip";
@import "forms";
@import "tables";
@import "buttons";
@import "panel";
@import "card";
@import "message";
@import "popup";